# Global environment template
# Copy to .env in project root if needed.

# Common
NODE_ENV="development"

# API Gateway
API_GATEWAY_PORT="1111"
AUTH_SERVICE_URL="http://auth-service:2222"
CORE_SERVICE_URL="http://core-service:3333"
NOTIFICATION_SERVICE_URL="http://notification-service:4444"

# Auth service
AUTH_SERVICE_PORT="2222"
MONGODB_URI="mongodb://your_user:your_password@localhost:7777/your_database?authSource=admin"
JWT_SECRET="your-super-secret-jwt-key-min-32-chars"

# Core service
CORE_SERVICE_PORT="3333"
DATABASE_URL_CORE="postgresql://your_user:your_password@localhost:5555/your_database"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5555"
POSTGRES_DB="your_database"
POSTGRES_USER="your_user"
POSTGRES_PASSWORD="your_password"

# Notification service
NOTIFICATION_SERVICE_PORT="4444"
DATABASE_URL_NOTIFICATION="postgresql://your_user:your_password@localhost:5555/your_database"

# Databases
MONGO_ROOT_USERNAME="your_user"
MONGO_ROOT_PASSWORD="your_password"
CORE_POSTGRES_DB="your_database"
CORE_POSTGRES_USER="your_user"
CORE_POSTGRES_PASSWORD="your_password"
NOTIFICATION_POSTGRES_DB="your_database"
NOTIFICATION_POSTGRES_USER="your_user"
NOTIFICATION_POSTGRES_PASSWORD="your_password"
