# Global environment template
# Copy to .env in project root if needed.

# backend
# api-gateway
PORT="1111"
AUTH_SERVICE_URL="http://auth-service:2222"
CORE_SERVICE_URL="http://core-service:3333"
NODE_ENV="development"
CORS_ORIGIN="https://localhost:1111"

# core-service
NODEENV="development"
PORT="1111"
DATABASE_URL=""
POSTGRES_HOST="localhost"
POSTGRES_PORT="1111"
POSTGRES_DB="db"
POSTGRES_USER="user"
POSTGRES_PASSWORD="password"

# auth-service
MONGODB_AUTH_URI=mongodb://localhost:11111/db
JWTSecret="jwt_secret_key"
JWT_SECRET="jwt_secret_key"
PORT=1111
GOOGLE_CLIENT_ID="client_id"

# search-service && transaction-service
GEMINI_API_KEY="api_key"
INTERNAL_SERVICE_TOKEN="your-internal"

# general

# Rootful Docker default: /var/run/docker.sock
# Rootless Docker example: /run/user/1000/docker.sock
DOCKER_SOCKET_PATH="/var/run/docker.sock"