@use 'mixins' as *;

.confirmation-card {
	@include surface-card;
}

.confirmation-card-body {
	@include flex-col;
	gap: var(--space-s);
}

.confirmation-modal-title {
	margin: 0;
	font-size: var(--fs-h2);
	line-height: var(--lh-h2);
	font-weight: var(--fw-h2);
}

.confirmation-modal-description {
	margin: 0;
	color: var(--text-secondary);
}

.confirmation-modal-actions {
	display: flex;
	flex-direction: column-reverse;
	gap: var(--space-m);

	.main-button {
		width: 100%;
	}
}
