.cook-card-link {
	text-decoration: none;
	color: unset;
	display: block;
	border-radius: var(--radius-s);
}

.cook-card-link:focus-visible {
	outline: 2px solid var(--borders-action);
	outline-offset: 2px;
}

.cook-card-item {
	--cook-image-size: 56px;
	--cook-card-width: 64px;
	width: var(--cook-card-width);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--space-m);
}

.cook-card-image {
	width: var(--cook-image-size);
	height: var(--cook-image-size);
	border-radius: var(--radius-full);
	object-fit: cover;
	box-shadow: var(--shadow-effect);
}

.cook-card-name {
	text-align: center;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.cook-card-link:hover .cook-card-name {
	text-decoration: underline;
}

@media (min-width: 768px) {
	.cook-card-item {
		--cook-image-size: 80px;
		--cook-card-width: 96px;
	}
}

@media (min-width: 1440px) {
	.cook-card-item {
		--cook-image-size: 100px;
		--cook-card-width: 120px;
	}
}
