.icon-button.favorite-button {
	background: var(--surface-favorite);
	border: none;
}

.icon-button.favorite-button svg {
	color: var(--icons-default);
}

.icon-button.favorite-button.active svg {
	fill: var(--icons-heart-active);
}
