.main-header {
	display: flex;
	flex-direction: column;
	background-color: var(--surface-header);
	padding: var(--space-l);
	gap: var(--space-xl);
	align-items: center;
}

.logo-link {
	text-decoration: none;
	color: var(--text-on-accent);
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}

.header-top-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.header-top-icon-row {
	display: flex;
	flex-direction: row;
}

.header-navigation-list {
	display: flex;
	flex-direction: column;
	gap: var(--space-xl);
	padding: 0;
	align-items: center;
	list-style: none;
	margin: 0;
}

.header-bottom-row {
	display: flex;
	flex-direction: row;
	width: 1248px;
	justify-content: space-between;
	align-items: center;
}

@media (min-width: 768px) {
	.header-navigation-list {
		flex-direction: row;
	}
}

@media (min-width: 1440px) {
	.header-top-row {
		width: 1248px;
	}
}
