.main-header {
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 0;
	background-color: var(--surface-header);
	padding: var(--space-l);
	gap: var(--space-l);
	align-items: center;
	z-index: 100;
}

.logo-link {
	text-decoration: none;
	color: var(--text-on-accent);
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}

.header-top-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.header-top-icon-row {
	display: flex;
	flex-direction: row;
	gap: var(--space-s);
	align-items: center;
}

.header-menu-overlay {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background-color: var(--surface-header);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--space-l);
	gap: var(--space-xl);
	z-index: 10;
}

.header-navigation-list {
	display: flex;
	flex-direction: column;
	gap: var(--space-xl);
	padding: 0;
	align-items: center;
	list-style: none;
	margin: 0;
}

.icon-button.profile-button svg {
	color: var(--icons-dark);
}

@media (min-width: 768px) {
	.header-navigation-list {
		flex-direction: row;
	}
}

@media (min-width: 1440px) {
	.header-top-row {
		width: var(--desktop-content-width);
	}

	.header-search {
		width: 328px;
	}

	.header-bottom-row {
		display: flex;
		flex-direction: row;
		width: var(--desktop-content-width);
		justify-content: space-between;
		align-items: center;
	}
}
