.home-page {
	display: flex;
	flex-direction: column;
	gap: var(--space-xl);
}

.home-page-hero {
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: calc(var(--space-xl) * -1) calc(var(--space-l) * -1) 0;
}

.home-page-hero-overlay {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	padding: var(--space-xxl) var(--space-l);
	gap: var(--space-xl);
	color: var(--text-on-accent);
	background: rgba(0, 0, 0, 0.7);
}

.home-page-recipes-section,
.home-page-cooks-section {
	display: flex;
	flex-direction: column;
	gap: var(--space-l);
}

.home-page-recipe-header,
.home-page-cooks-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.home-page-cooks-actions {
	display: flex;
	align-items: center;
	gap: var(--space-m);
}

.home-page-cooks-scroll-controls {
	display: none;
}

@media (min-width: 768px) {
	.home-page-cooks-actions {
		gap: var(--space-l);
	}

	.home-page-cooks-scroll-controls {
		display: flex;
		align-items: center;
		gap: var(--space-s);
	}
}

@media (min-width: 1440px) {
	.home-page-hero {
		width: 100vw;
		margin: calc(var(--space-l) * -1) 0 0 calc(50% - 50vw);
	}

	.home-page-hero-overlay {
		padding-left: calc((100vw - var(--desktop-content-width)) / 2);
		padding-right: calc((100vw - var(--desktop-content-width)) / 2);
	}
}
