.icon-button {
	--icon-button-size: 44px;
	--icon-size: 20px;
	min-width: var(--icon-button-size);
	height: var(--icon-button-size);
	border-radius: var(--radius-s);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: filter 0.2s ease;
	padding: 0;
}

.icon-button svg {
	width: var(--icon-size);
	height: var(--icon-size);
	stroke-width: 1.5;
	color: var(--icons-primary);
}

.icon-button:hover {
	filter: brightness(var(--hover-brightness));
}

.icon-button:active {
	filter: brightness(var(--active-brightness));
}

.icon-button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
	filter: none;
}

.icon-button:disabled:hover {
	filter: none;
}

.icon-button.default {
	background-color: var(--surface-primary);
	border: 1px solid var(--borders-input);
}

.icon-button.transparent {
	background-color: transparent;
	border: none;

	svg {
		color: var(--text-on-accent);
	}
}

.icon-button.language {
	font-family: "Nunito", system-ui, sans-serif;
	text-transform: uppercase;
	font-size: var(--fs-body3);
	border: 1px solid var(--borders-default);
}

.icon-button.language.language-button--header {
	background-color: var(--surface-header);
	color: var(--text-on-accent);

	&.active {
		background-color: var(--surface-primary);
		color: var(--text-primary);
	}
}

.icon-button.language.language-dropdown__button {
	border: none;
	border-radius: 0;
	background-color: var(--surface-card);
	color: var(--text-primary);

	&.active {
		background-color: var(--surface-primary);
		color: var(--text-secondary);
	}
}

.icon-button.language.language-button--footer {
	border-color: var(--borders-action);
	background-color: var(--bg-footer);
	color: var(--text-primary);

	&.active {
		background-color: var(--surface-action-active);
		color: var(--text-on-accent);
	}
}

@media (min-width: 768px) {
	.icon-button {
		--icon-button-size: 48px;
		--icon-size: 24px;
	}
}

@media (min-width: 1440px) {
	.icon-button {
		--icon-button-size: 56px;
		--icon-size: 32px;
	}
}
