@use 'variables' as *;
@use 'mixins' as *;

.pagination {
	width: fit-content;
}

.pagination-row {
	@include flex-col;
	align-items: center;
	width: 100%;
	gap: var(--space-m);

	@include breakpoint($bp-desktop) {
		flex-direction: row;
		justify-content: space-between;
	}
}

.pagination__list {
	display: flex;
	align-items: center;
	gap: var(--space-xs);
	list-style: none;
	margin: 0;
	padding: 0;
}

.pagination__item--hidden {
	display: none;

	@include breakpoint($bp-tablet) {
		display: list-item;
	}
}

.pagination__link {
	--item-size: 44px;
	@include flex-center;
	min-width: var(--item-size);
	height: var(--item-size);
	border: none;
	border-radius: var(--radius-s);
	cursor: pointer;
	background-color: transparent;
	color: var(--text-primary);
	text-decoration: none;
	padding: 0 var(--space-xs);

	&:hover {
		opacity: 0.6;
	}

	&:active {
		opacity: 0.4;
	}

	&--active {
		background-color: var(--surface-action-active);
		color: var(--text-on-accent);
		cursor: default;
		pointer-events: none;
		opacity: 1;
	}

	&.pagination__link--disabled,
	&:disabled {
		cursor: not-allowed;
		opacity: 0.45;
		pointer-events: none;
	}

	svg {
		width: 20px;
		height: 20px;
		stroke-width: 1.5;
		color: var(--icons-dark);
	}

	@include breakpoint($bp-tablet) {
		--item-size: 48px;

		svg {
			width: 24px;
			height: 24px;
		}
	}

	@include breakpoint($bp-desktop) {
		--item-size: 56px;

		svg {
			width: 32px;
			height: 32px;
		}
	}
}
