.pagination {
	width: fit-content;
}

.pagination-row {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: var(--space-m);
}

@media (min-width: 1440px) {
	.pagination-row {
		flex-direction: row;
		justify-content: space-between;
	}
}

.pagination__list {
	display: flex;
	align-items: center;
	gap: var(--space-xs);
	list-style: none;
	margin: 0;
	padding: 0;
}

.pagination__item--hidden {
	display: none;
}

.pagination__link {
	--item-size: 44px;
	display: flex;
	min-width: var(--item-size);
	height: var(--item-size);
	border-radius: var(--radius-s);
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: opacity 0.2s ease;
	background-color: transparent;
	color: var(--text-primary);
	text-decoration: none;
	padding: 0 var(--space-xs);
}

.pagination__link:hover {
	opacity: 0.6;
}

.pagination__link:active {
	opacity: 0.4;
}

.pagination__link--active {
	background-color: var(--surface-action-active);
	color: var(--text-on-accent);
	cursor: default;
	pointer-events: none;
	opacity: 1;
}

.pagination__link--disabled {
	opacity: 0.3;
	cursor: not-allowed;
	pointer-events: none;
}

.pagination__link svg {
	width: 20px;
	height: 20px;
	stroke-width: 1.5;
	color: var(--icons-dark);
}

@media (min-width: 768px) {
	.pagination__link {
		--item-size: 48px;
	}

	.pagination__item--hidden {
		display: list-item;
	}

	.pagination__link svg {
		width: 24px;
		height: 24px;
	}
}

@media (min-width: 1440px) {
	.pagination__link {
		--item-size: 56px;
	}

	.pagination__link svg {
		width: 32px;
		height: 32px;
	}
}
