.recipe-card-list {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
	gap: var(--space-s);
}

@media (min-width: 768px) {
	.recipe-card-list {
		display: grid;
		grid-template-columns: repeat(2, minmax(328px, 1fr));
	}
}

@media (min-width: 1440px) {
	.recipe-card-list {
		grid-template-columns: repeat(3, minmax(328px, 1fr));
	}
}
