.recipes-page {
	display: flex;
	flex-direction: column;
	gap: var(--space-xl);
	align-items: center;
}

.recipes-page-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.recipes-page-pagination-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	gap: var(--space-m);
}
