@use 'variables' as *;
@use 'mixins' as *;

.recipe-card-link-wrapper {
	text-decoration: none;
	color: unset;
	display: block;
	border-radius: var(--radius-l);

	&:hover {
		filter: brightness(var(--hover-brightness));
	}

	&:active {
		filter: brightness(var(--active-brightness));
	}

	&:has(.favorite-button:hover) {
		filter: none;
	}

	&:focus-visible {
		outline: 2px solid var(--borders-action);
		outline-offset: 4px;
	}
}

.recipe-card {
	display: flex;
	position: relative;
	align-items: center;
	--recipe-card-image-size: 160px;
	min-height: var(--recipe-card-image-size);

	@include breakpoint($bp-tablet) {
		--recipe-card-image-size: 248px;
	}

	@include breakpoint($bp-desktop) {
		--recipe-card-image-size: 300px;
	}
}

.recipe-card-image {
	position: absolute;
	@include avatar-image;
	width: var(--recipe-card-image-size);
	height: var(--recipe-card-image-size);
	align-content: center;
}

.recipe-card-container {
	--recipe-card-container-height: 160px;
	display: flex;
	background-color: var(--surface-card);
	padding: var(--space-l);
	border-radius: var(--radius-l);
	width: calc(100% - var(--recipe-card-image-size) / 2);
	height: var(--recipe-card-container-height);
	box-shadow: var(--shadow-effect);
	margin-left: calc(var(--recipe-card-image-size) / 2);

	@include breakpoint($bp-tablet) {
		--recipe-card-container-height: 204px;
	}

	@include breakpoint($bp-desktop) {
		--recipe-card-container-height: 264px;
	}
}

.recipe-card-content-column {
	@include flex-col;
	gap: var(--space-m);
	margin-left: calc(var(--recipe-card-image-size) / 2);
	width: 100%;
	min-width: 0;
	justify-content: center;
}

.recipe-card-header {
	@include flex-col;
	gap: var(--space-s);
	width: 100%;
	overflow: hidden;

	h3 {
		overflow: hidden;
		display: -webkit-box;
		line-clamp: 2;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}

	p {
		overflow: hidden;
		display: -webkit-box;
		line-clamp: 2;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
}

.recipe-card-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	.favorite-button {
		margin-left: auto;
	}
}

.rating-row {
	--star-icon-size: 20px;
	display: flex;
	flex-direction: row;
	gap: var(--space-xs);
	align-items: end;

	svg {
		width: var(--star-icon-size);
		height: var(--star-icon-size);
	}

	@include breakpoint($bp-tablet) {
		--star-icon-size: 24px;
	}

	@include breakpoint($bp-desktop) {
		--star-icon-size: 32px;
	}
}
