@use 'variables' as *;
@use 'mixins' as *;

.text-button {
	text-decoration: none;
	font-size: var(--fs-body1);
	line-height: var(--lh-body1);
	color: var(--text-primary);
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	gap: var(--space-s);
	min-height: 24px;

	&:hover {
		filter: brightness(var(--hover-brightness));
		text-decoration: underline;
	}

	&:active {
		filter: brightness(var(--active-brightness));
	}

	&.underline {
		text-decoration: underline;
	}

	&.is-disabled,
	&:disabled,
	&[aria-disabled="true"] {
		cursor: not-allowed;
		opacity: 0.5;
		text-decoration: none;
		pointer-events: none;
	}

	&.inverted {
		color: var(--text-on-accent);
	}
}

.text-button--body1 {
	font-size: var(--fs-body1);
	line-height: var(--lh-body1);

	svg {
		width: var(--lh-body1);
		height: var(--lh-body1);
	}
}

.text-button--body2 {
	font-size: var(--fs-body2);
	line-height: var(--lh-body2);

	svg {
		width: var(--lh-body2);
		height: var(--lh-body2);
	}
}

.text-button--body3 {
	font-size: var(--fs-body3);
	line-height: var(--lh-body3);

	svg {
		width: var(--lh-body3);
		height: var(--lh-body3);
	}
}
