@use 'variables' as *;
@use 'mixins' as *;

.user-card-link-wrapper {
	display: flex;
	text-decoration: none;
	color: unset;
	width: 100%;
	@include interactive-brightness;

	&:has(.main-button:hover) {
		filter: none;
	}
}

.user-card {
	--user-card-photo-size: 120px;
	@include flex-col;
	position: relative;
	align-items: center;
	min-width: var(--user-card-width);
	width: 100%;

	@include breakpoint($bp-tablet) {
		--user-card-photo-size: 200px;
	}

	@include breakpoint($bp-desktop) {
		--user-card-photo-size: 212px;
	}
}

.user-card-photo {
	display: flex;
	position: absolute;
	@include avatar-image;
	width: var(--user-card-photo-size);
	height: var(--user-card-photo-size);
}

.user-card-container {
	@include flex-col-center;
	height: fit-content;
	margin-top: calc(var(--user-card-photo-size) / 2);
	background-color: var(--surface-card);
	padding: var(--space-l);
	border-radius: var(--radius-l);
	box-shadow: var(--shadow-effect);
	gap: var(--space-m);
	width: 100%;
}

.user-card-header {
	@include flex-col-center;
	margin-top: calc(var(--user-card-photo-size) / 2);
	gap: var(--space-s);
	width: 100%;
	min-width: 0;

	h3 {
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100%;
	}
}

.user-card-button {
	width: 100%;

	&.unfollow {
		color: var(--text-primary);
		background-color: var(--surface-card);
	}

	@include breakpoint($bp-tablet) {
		width: 296px;
	}
}
