@use 'mixins' as *;

.user-card-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--user-card-width), 1fr));
	list-style: none;
	padding: 0;
	gap: var(--space-l);
	width: 100%;
}

.users-grid-status {
	@include status-text;
}
