:root {
	--bg-main: #F2ECE3;
	--bg-footer: #FFF8F0;

	--surface-header: #637548;
	--surface-card: #F9F6F1;
	--surface-primary: #E1D9CD;
	--surface-action-inactive: #B4C09B;
	--surface-action-active: #4E633B;
	--surface-favorite: #B4C09B;
	--surface-error: #BE4F4F;

	--text-primary: #334427;
	--text-secondary: #4E633B;
	--text-on-accent: #F1F7D4;

	--icons-heart: #DB858B;

	--borders-heart-inactive: #F2ECE3;
	--borders-heart-active: #8E4977;
	--borders-action: #27341E;
	--borders-input: #E2D8E0;
}


body {
	margin: 0;
	font-family: system-ui, sans-serif;
}

h1 {
  font-size: 3.2em;
}
