* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	--bg-main: #f2ece3;
	--bg-footer: #fff8f0;
	--surface-header: #637548;
	--surface-card: #f9f6f1;
	--surface-primary: #e1d9cd;
	--surface-action-inactive: #b4c09b;
	--surface-action-active: #4e633b;
	--surface-favorite: #b4c09b;
	--surface-error: #be4f4f;
	--surface-success: #0fa707;
	--text-primary: #334427;
	--text-secondary: #4e633b;
	--text-on-accent: #f1f7d4;
	--icons-default: #f2ece3;
	--icons-heart-active: #db858b;
	--borders-heart-active: #8e4977;
	--borders-action: #27341e;
	--borders-input: #e2d8e0;

	--radius-s: 8px;
	--radius-m: 12px;
	--radius-l: 16px;
	--radius-full: 9999px;

	/* Mobile as default */
	--space-xs: 4px;
	--space-s: 8px;
	--space-m: 12px;
	--space-l: 16px;
	--space-xl: 24px;
	--space-xxl: 48px;

	/* Typography (fs=fontsize, lh=lineheight, fw=fontweight) === */
	--fs-h1: 36px;
	--lh-h1: 36px;
	--fw-h1: 400;
	--fs-h2: 32px;
	--lh-h2: 32px;
	--fw-h2: 700;
	--fs-h3: 24px;
	--lh-h3: 24px;
	--fw-h3: 700;
	--fs-body1: 24px;
	--lh-body1: 24px;
	--fw-body1: 300;
	--fs-body2: 20px;
	--lh-body2: 20px;
	--fw-body2: 300;
	--fs-body3: 16px;
	--lh-body3: 16px;
	--fw-body3: 400;
	--fs-caption: 16px;
	--lh-caption: 16px;
	--fw-caption: 300;
	--fs-caption-s: 12px;
	--lh-caption-s: 12px;
	--fw-caption-s: 300;
	--fs-label: 20px;
	--lh-label: 20px;
	--fw-label: 500;

	--hover-brightness: 1.1;
	--active-brightness: 0.9;
}

/* Tablet */
@media (min-width: 768px) {
	:root {
		--space-xs: 8px;
		--space-s: 12px;
		--space-m: 16px;
		--space-l: 24px;
		--space-xl: 32px;
		--space-xxl: 64px;

		--fs-h1: 64px;
		--lh-h1: 64px;
		--fs-h2: 48px;
		--lh-h2: 48px;
		--fs-h3: 36px;
		--lh-h3: 36px;
		--fs-body1: 32px;
		--lh-body1: 32px;
		--fs-body2: 24px;
		--lh-body2: 24px;
		--fs-body3: 20px;
		--lh-body3: 20px;
		--fs-caption: 20px;
		--lh-caption: 20px;
		--fs-caption-s: 16px;
		--lh-caption-s: 16px;
		--fs-label: 24px;
		--lh-label: 24px;
	}
}

/* Desktop */
@media (min-width: 1440px) {
	:root {
		--space-xs: 12px;
		--space-s: 16px;
		--space-m: 24px;
		--space-l: 32px;
		--space-xl: 48px;
		--space-xxl: 72px;

		--fs-h1: 96px;
		--lh-h1: 96px;
		--fs-h2: 72px;
		--lh-h2: 72px;
		--fs-h3: 48px;
		--lh-h3: 48px;
		--fs-body1: 36px;
		--lh-body1: 36px;
		--fs-body2: 32px;
		--lh-body2: 32px;
		--fs-body3: 24px;
		--lh-body3: 24px;
		--fs-caption: 24px;
		--lh-caption: 24px;
		--fs-caption-s: 20px;
		--lh-caption-s: 20px;
		--fs-label: 32px;
		--lh-label: 32px;
	}
}

body {
	margin: 0;
	font-family: "Glory", system-ui, sans-serif;
	font-size: var(--fs-body3);
	line-height: var(--lh-body3);
	font-weight: var(--fw-body3);
	color: var(--text-primary);
	background-color: var(--bg-main);
}

h1 {
	font-size: var(--fs-h1);
	line-height: var(--lh-h1);
	font-weight: var(--fw-h1);
}

h2 {
	font-size: var(--fs-h2);
	line-height: var(--lh-h2);
	font-weight: var(--fw-h2);
}

h3 {
	font-size: var(--fs-h3);
	line-height: var(--lh-h3);
	font-weight: var(--fw-h3);
}

/* Text styles */
.text-body1 {
	font-size: var(--fs-body1);
	line-height: var(--lh-body1);
	font-weight: var(--fw-body1);
}

.text-body2 {
	font-size: var(--fs-body2);
	line-height: var(--lh-body2);
	font-weight: var(--fw-body2);
}

.text-body3 {
	font-size: var(--fs-body3);
	line-height: var(--lh-body3);
	font-weight: var(--fw-body3);
}

.text-caption {
	font-size: var(--fs-caption);
	line-height: var(--lh-caption);
	font-weight: var(--fw-caption);
}

.text-caption-s {
	font-size: var(--fs-caption-s);
	line-height: var(--lh-caption-s);
	font-weight: var(--fw-caption-s);
}

.text-label {
	font-size: var(--fs-label);
	line-height: var(--lh-label);
	font-weight: var(--fw-label);
}
