NODE_ENV="development"
PORT="1111"
AUTH_SERVICE_URL="http://auth-service:2222"
CORE_SERVICE_URL="http://core-service:3333"
NOTIFICATION_SERVICE_URL="http://notification-service:4444"
NODE_ENV="development"
CORS_ORIGIN="https://localhost:5173"