.main-button {
	padding: var(--space-m) var(--space-l);
	border-radius: var(--radius-s);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: filter 0.2s ease;
	gap: var(--space-xs);
	font-size: var(--fs-label);
	font-weight: var(--fw-label);
	line-height: var(--lh-label);
}

.main-button.primary {
	color: var(--text-on-accent);
	border: 1px solid var(--borders-action);
	background-color: var(--surface-action-active);
}

.main-button:hover {
	filter: brightness(var(--hover-brightness));
}

.main-button:active {
	filter: brightness(var(--active-brightness));
}

@media (min-width: 768px) {
	.main-button {
		padding: var(--space-s) var(--space-l);
	}
}

@media (min-width: 1440px) {
	.main-button {
		padding: var(--space-xs) var(--space-l);
	}
}