.moderation-button {
	color: var(--icons-default);
	border: none;
}

.moderation-button.approve {
	background-color: var(--surface-success);
}

.moderation-button.discard {
	background-color: var(--surface-error);
}
