.moderation-button.approve {
	background-color: var(--surface-success);
}

.moderation-button.discard {
	background-color: var(--surface-error);
}

.moderation-button:hover {
	filter: brightness(var(--hover-brightness));
}

.moderation-button:active {
	filter: brightness(var(--active-brightness));
}