.select-wrapper {
	position: relative;
	width: 120px;
}

.select-field {
	height: 48px;
	width: 100%;
	padding: 4px 40px 4px 12px;
	border-radius: var(--radius-s);
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: var(--surface-primary);
	border: 1px solid var(--borders-input);
	font-size: var(--fs-label);
	font-weight: var(--fw-label);
	line-height: normal;
	color: var(--text-primary);
}

.select-field:focus {
	outline: none;
}

.select-icon {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	right: 14px;
	transform: translateY(-50%);
	pointer-events: none;
	color: var(--text-primary);
	stroke-width: 2;
}

@media (min-width: 768px) {
	.select-field {
		height: 48px;
	}
	.select-icon {
		width: 24px;
		height: 24px;
	}
}

@media (min-width: 1440px) {
	.select-field {
		height: 56px;
	}
	.select-icon {
		width: 32px;
		height: 32px;
	}
}
