.text-button {
	text-decoration: none;
	font-size: var(--fs-body1);
	line-height: var(--lh-body1);
	color: var(--text-primary);
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;

	display: inline-flex;
	align-items: center;

	&:hover {
		filter: brightness(var(--hover-brightness));
		text-decoration: underline;
	}

	&:active {
		filter: brightness(var(--active-brightness));
	}
}

.text-button.underline {
	text-decoration: underline;
}

/* Модификаторы размеров */
.text-button--body1 {
	font-size: var(--fs-body1);
	line-height: var(--lh-body1);
}

.text-button--body2 {
	font-size: var(--fs-body2);
	line-height: var(--lh-body2);
}
