.user-card-link-wrapper {
	text-decoration: none;
	color: unset;

	&:active {
		filter: brightness(var(--active-brightness));
	}
}

.user-card {
	--user-card-photo-size: 120px;

	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
}

.user-card-photo {
	display: flex;
	position: absolute;
	width: var(--user-card-photo-size);
	height: var(--user-card-photo-size);
	border-radius: var(--radius-full);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.user-card-container {
	--user-card-width: 160px;

	display: flex;
	flex-direction: column;
	height: fit-content;
	margin-top: calc(var(--user-card-photo-size) / 2);
	background-color: var(--surface-card);
	padding: var(--space-l);
	border-radius: var(--radius-l);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
	gap: var(--space-m);
	width: var(--user-card-width);
}

.user-card-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: calc(var(--user-card-photo-size) / 2);
	gap: var(--space-s);
}

@media (min-width: 768px) {
	.user-card {
		--user-card-photo-size: 200px;
	}
	
	.user-card-container {
		--user-card-width: 328px;
	}
}

@media (min-width: 1440px) {
	.user-card {
		--user-card-photo-size: 212px;
	}

	.user-card-container {
		--user-card-width: 394px;
	}
}